%h1 作品一覧

%table.table.table-striped.table-bordered.mt-5
  %thead
    %tr
      %th ID
      %th 作品名
      %th 紹介コメント
      %th 言語
      %th 公開状態
      %th GitHub URL
      %th 操作
  %tbody
    - @works.each do |work|
      %tr
        %td= work.id
        %td= work.name
        %td= work.description
        %td= work.language
        %td= work.published ? '公開' : '非公開'
        %td= link_to 'リンク', work.svn_url, target: '_blank', class: 'btn btn-secondary'
        %td= link_to '変更', edit_auth_work_path(work), class: 'btn btn-primary'

%p.mt-5
  = link_to 'Githubからリポジトリ読み込み', import_auth_works_path, method: :post, class: 'btn btn-danger', data: { confirm: 'GitHubから削除されたリポジトリは一覧から削除されますがよろしいですか？' }
