%p#notice= notice

%table.table.table-striped.table-bordered
  %tbody
    %tr
      %th 作品名
      %td= @work.name
    %tr
      %th 紹介コメント
      %td= @work.description

%p.mt-5
  = link_to '変更', edit_auth_work_path(@work), class: 'btn btn-primary'
  = link_to '作品一覧', auth_works_path, class: 'btn btn-secondary'
