-# frozen_string_literal: true
= simple_form_for([:auth,@profile]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :pr

    = f.input :avatar, input_html: { class: 'form-control-file' }
    = f.hidden_field :avatar_cache
    - if f.object.avatar?
      %p= image_tag f.object.avatar.url
      = f.input :remove_avatar, as: :boolean, label_html: { class: 'form-check-label' },input_html: { class: 'form-check-input is-valid boolean optional' }

  .form-actions
    = f.button :submit, class: 'btn-danger'
