!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsExamplePortfolio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      %header#header
        #header-logo
          = link_to 'GitHubフォリオ', root_path
        %ul#header-nav
          - if user_signed_in?
            %li= link_to 'プロフィール編集', edit_auth_profile_path
            %li= link_to 'ログアウト', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'ログイン', new_user_session_path
      #container
        = render 'application/flash'
        = yield
